@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="main-content">
    <h1>Hi, I'm ABCXYZ</h1>
    <h1>a freelancer</h1>
    <a class="btn btn-danger" href="/About">ABOUT ME</a>
    <a class="btn btn-outline-danger" href="/Works">MY WORK</a>
</div>
